.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;

  .static {
    font-size: 32px;
  }

  .dynamic {
    font-size: 32px;
  }
}

@media (width <= 767px) {
  .container {
    text-align: center;

    .dynamic {
      line-height: 1.5;
      word-wrap: break-word;
      word-break: keep-all;
    }
  }
}
