.header {
  display: flex;
  position: fixed;
  z-index: 3;
  top: 0;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1440px;
  height: 40px;
  margin: 0 auto;

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    ul {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 48px;

      li {
        button {
          transition: 1s;
          cursor: pointer;
        }
      }
    }

    .contact {
      padding: 4px 10px;
      border: 1px solid black;
      border-radius: 20px;
      font-size: 14px;
    }
  }

  padding: 30px 16px;
  font-size: 16px;
  font-weight: 300;
  backdrop-filter: blur(10px);
}

@media (width <=767px) {
  .header {
    nav {
      ul {
        display: none;
      }
    }
  }
}
