.cardContainer {
  display: flex;
  position: sticky;
  top: 0;
  justify-content: center;
  height: 100vh;
  margin-bottom: 200px;

  .card {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    max-width: 1200px;
    height: 100%;
    max-height: 700px;
    padding: 50px;
    transform-origin: top;
    border-radius: 25px;

    .titleContainer {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .title {
        display: block;
        font-size: 32px;
        font-weight: bold;
      }
    }

    .body {
      display: flex;
      height: 100%;
      gap: 50px;

      .description {
        position: relative;
        width: 40%;

        .introduce,
        .feature {
          font-size: 28px;
          text-decoration: underline solid #2ab380;
          text-decoration-thickness: 6px;
          text-underline-offset: -6px;
        }

        .content {
          font-size: 20px;
        }

        ul {
          list-style-position: outside;

          li {
            list-style-type: disc;
            font-size: 20px;
          }
        }
      }

      .imageContainer {
        position: relative;
        width: 60%;
        height: 100%;
        overflow: hidden;
        border-radius: 25px;

        .inner {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
